<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vue Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="./js/dataModel.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div id="app">
        <div class="container">

            <div class="row py-2">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">
                            Stats
                        </h5>
                        <div class="card-body">
                            <div id="playerTiles" class="row">
                                <ul class="list-group list-group-horizontal">
                                    <li class="col list-group-item">Player Count:  {{ playerCount }}</li>
                                    <li class="col list-group-item">Available Tile Count:  {{ availableTileCount }}</li>
                                    <li class="col list-group-item">Active Player Index:  {{ ActivePlayerIndex }}</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row py-2">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">
                            Players
                        </h5>
                        <div class="card-body">
                            <div id="players" class="row">
                                <ul class="list-group list-group-horizontal">
                                    <li v-for="(player, index) in GameData.PlayerList" class="col list-group-item"
                                        v-bind:class="{'list-group-item-primary' : index === GameData.State.ActivePlayerIndex}">
                                        <span class="bi bi-person-circle">
                                            {{ player.Display }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="card">
                        <h5 class="card-header">
                            Tiles
                        </h5>
                        <div class="card-body">
                            <div id="playerTiles" class="row">
                                <ul class="list-group list-group-horizontal">
                                   <li v-for="(tile, index) in GameData.Tiles" v-if="tile.Owner === ActivePlayerIndex" class="col list-group-item" v-on:click="clickTile(tile.Asset, tile.AssetID)">
                                         <h3 class="text-center">{{ tile.Asset }}</h3>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row py-2">
                <div class="col-lg-3">

                    <div class="row m-1">
                        <!-- Button trigger modal -->
                        <button type="button" class="col btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#buyModel">
                            Buy Stock
                        </button>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <h5 class="card-header">
                                    Cash
                                </h5>
                                <div class="card-body">
                                    <p id="playerCash"></p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row py-2">
                        <div class="col">
                            <div class="card">
                                <h5 class="card-header">
                                    Stock
                                </h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">An item</li>
                                    <li class="list-group-item">A second item</li>
                                    <li class="list-group-item">A third item</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-body">
                            <div id="gameBoard" style="--grid-rows: 9; --grid-cols: 12;">
                                <div v-for="(tile, index) in GameData.Tiles" class="grid-item" v-bind:id="tile.AssetID" v-on:click="clickTile(tile.Asset, tile.AssetID)" v-bind:class="{'bg-secondary' : tile.Location === 'Board'}">
                                    {{ tile.Asset }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                GameData: '',
                appLoaded: false,
                ActivePlayerIndex: 0
            },

            mounted() 
            { // when the Vue app is booted up, this is run automatically.
                var self = this // create a closure to access component in the callback below
                self.GameData = data.Game;
                this.appLoaded = true;
                this.assignStartTiles();
                this.assignInitialPlayerTiles();
                

            },

            computed : 
            {
                
                playerCount ()
                {
                    if(this.appLoaded)
                    {
                       // console.log(this.GameData);
                        return this.getPlayerCount();
                    }
                    
                },

                availableTileCount ()
                {
                    if(this.appLoaded)
                    {
                        return this.getAvailableTileCount();
                    }
                }
               
                
            },
            methods: 
            {
                getRandomAvailableTiles: function (count, type) 
                {
                    let randomTiles = [];
                    
                    let gd = this.GameData;

                    let countbreak = 0;

                    while (randomTiles.length < count) 
                    {
                        let rand = Math.floor(Math.random() *  this.GameData.Tiles.length);

                        // 
                        if(gd.Tiles[rand].Owner == "" && gd.Tiles[rand].Location == "Tile Box")
                        {
                            if(type == 'label' && !randomTiles.includes(gd.Tiles[rand].Asset))
                            {
                                randomTiles.push(gd.Tiles[rand].Asset);
                            }

                            if(type == 'index' && !randomTiles.includes(gd.Tiles[rand].AssetID))
                            {
                                randomTiles.push(gd.Tiles[rand].AssetID);
                            }
                        }

                        countbreak ++;

                        if(countbreak >= this.GameData.Tiles.length)
                        {
                            break;
                        }
                    }

                    return randomTiles;
                },

                getAvailableTileCount : function () 
                {
                    console.log(this.GameData)
                    var count = 0;
                    for (c = 0; c < this.GameData.Tiles.length; c++) 
                    {
                        if(this.GameData.Tiles[c].Location == "Tile Box")
                        {
                            count ++;
                        }
                    }
                    return count;
                },

                getTileCount : function () 
                {
                    return  Object.keys(this.GameData.Tiles).length 

                },

                // a computed getter
                getPlayerCount : function ()  
                {
                    console.log(this.GameData)
                    // `this` points to the vm instance
                    return Object.keys(this.GameData.PlayerList).length 


                },
                
                // This assigns 6 initial tiles to each player at the beginning of the game. 

                assignInitialPlayerTiles()
                {
                    //let gd = this.GameData;
                    const pc =  this.getPlayerCount();
                    for (c = 0; c < pc; c++)
                    {
                        let playerId = this.GameData.PlayerList[c].Id
                        const randomTiles = this.getRandomAvailableTiles (6, 'label'); 
                        this.GameData.PlayerList[c].Tiles = randomTiles;

                        
                        // Assign owner and move Tile to "Player Location"
                        for(t= 0; t < this.GameData.Tiles.length; t++)
                        {
                            // Find the random tiles in the randomTile list.
                            if(randomTiles.includes(this.GameData.Tiles[t].Asset))
                            {
                                this.GameData.Tiles[t].Location = "Player";
                                this.GameData.Tiles[t].Owner = playerId;
                            }
                        }
                    } 
                },

                // This assigns the starting tile for each player and places on the board
                assignStartTiles()
                {
                    const pc =  this.getPlayerCount();

                    for (c = 0; c < pc; c++)
                    {
                        let playerId = this.GameData.PlayerList[c].Id
                        
                        const randomTile = this.getRandomAvailableTiles (1,'index'); 
                        this.GameData.Tiles[randomTile].Location = "Board";
                        this.GameData.Tiles[randomTile].Owner = playerId;
                    }
                },

                clickTile(tileLabel, tileIndex)
                {
                    alert(tileLabel);
                },

                checkSidesForTiles (tile)
                {
                    
                    let foundSideTile = false;
                    console.log('clicked tile: ' + tile.label);
                    for (c = 0; c < tileLength; c++) 
                    {
                        const sideTile = tiles[c].label
                        //console.log('before State Check: ' + c + ' ' + tile.left + ' ' + tile.right + ' ' + tile.top + ' ' + tile.bottom)
                        if(tiles[c].state == 1)
                        {
                            console.log(tile.left + ' ' + tile.right + ' ' + tile.top + ' ' + tile.bottom)
                            

                            const tileElement = document.getElementById(tile.label);
                            const sideTileElement = document.getElementById(sideTile);
                            
                            if(sideTile == tile.left)
                            {
                                tileElement.style.backgroundColor = "green";
                                sideTileElement.style.backgroundColor = "green";
                                foundSideTile = true;
                                //alert('Yay! You (' + tile.label + ') found a friend (' + sideTile + ') to the LEFT!')
                            }else if(sideTile == tile.right)
                            {
                                tileElement.style.backgroundColor = "green";
                                sideTileElement.style.backgroundColor = "green";
                                foundSideTile = true;
                                //alert('Yay! You (' + tile.label + ') found a friend (' + sideTile + ') to the RIGHT!')
                            }else if(sideTile == tile.top)
                            {
                                tileElement.style.backgroundColor = "green";
                                sideTileElement.style.backgroundColor = "green";
                                foundSideTile = true;
                                //alert('Yay! You (' + tile.label + ') found a friend (' + sideTile + ') to the TOP!')
                            }
                            else if(sideTile == tile.bottom)
                            {
                                tileElement.style.backgroundColor = "green";
                                sideTileElement.style.backgroundColor = "green";
                                foundSideTile = true;
                                //alert('Yay! You (' + tile.label + ') found a friend (' + sideTile + ') to the BOTTOM!')
                            }else{
                                foundSideTile = false;
                            }

                            if(foundSideTile)
                            {
                                break;
                            }
                            console.log('foundSide: ' + foundSideTile)
                            
                        }
                    }

                    if(foundSideTile)
                    {
                        
                        var newCorpModal = new bootstrap.Modal(document.getElementById('newCorpModal'))
                        //newCorpModal.show();

                        //listAvailableCorps();
                    }
                    return foundSideTile;
                    
                }





            }


        })

    </script>
    <script src="" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>